@import url("./layout.css");
@import url('./reset.css');
@import url('./global.css');



.post-item {
    border-bottom: solid 1px var(--border-color);
    padding: 1rem 0;
    line-height: 1.6;
  }
  .post-item__date {
    color: var(--secondary-color);
  }

  .post-item__title {
    margin: 0.5rem 0;
  }

  .post-item__title__link {
    color: var(--main-color);
    font-size: 1.5rem;
    text-decoration: none;
  }