<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title" content="{{.HTMLTitle}}"/>
    <meta name="description" content="{{.MetaDescription}}"/>
    <title>{{.PageTitle}}</title>
    <!-- Generated path -->
    <link rel="stylesheet" href="./detail.css">
</head>
<body>
    <div id="content">
        <h1 class="detail_title">{{.PageTitle}}</h1>
        {{.Content}}
    </div>
</body>
</html>
